$black: #000;
$light-blue: rgba(195, 251, 255, 1);

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body,html{
	padding: 0;
	margin: 0;
}

body{
	font-family: Arial;
	font-weight: 700;
	background-color: $light-blue;
}

.header{
	width: 100vw;
	height: 100px;
	// background-color: $light-blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	text-transform: uppercase;
	// border-bottom: 4px solid $black;
	.title{
		font-size: 48px;
		margin-left: 1vw;
	}
	.links{
		width: 50vw;
		max-width: 900px;
		display: flex;
		justify-content: space-between;
		margin-right: 1vw;
		
	}
		a {
			color: $black;
			text-decoration: none;
			font-size: 48px;
			border-radius: 25px;
			padding: 5px 20px;
			transition: all 0.3s ease-in-out;
			border: 3px solid $black;
	
			&:hover {
				background-color: white;
			}
		}
}

.container{
	width: 98vw;
	margin-left: 1vw;
	margin-top: 124px;
}

.text-block{
	position: absolute;
	bottom: 2vw;
	left: auto;
	right: 2vw;
	padding: 48px;
	border-radius: 25px;
	height: 230px;
	width: 100%;
	max-width: 1000px;
	background-color: $light-blue;
	border: 3px solid $black;
	cursor: move;
	// -webkit-box-shadow: -12px -8px 28px -5px rgba(0, 0, 0, 1);
	// box-shadow: -12px -8px 28px -5px rgba(0, 0, 0, 1);
	p{
		font-size: 48px;
		line-height: 1.1;
		font-weight: 300;
		margin: 0;
	}
}

#text1{
	top: 50%;
	left: 3vw;
	height: 100px;
	width: 500px;
}

.draggable-image{
	width: 400px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	cursor: move;
	img{
		position: absolute;
		width: 100%;
		height: auto;
	}
}

#draggable0{
	left: 1vw;
	top: auto;
	bottom: 42%;
}

#draggable1 {
	top: 45%;
	left: 20%;
}

#draggable2 {
	top: 25%;
	left: 40%;
}

#draggable3 {
	left: auto;
	right: 15%;
	top: 35%;
}

#draggable4 {
	left: 25%;
	top: 20px;
}

#draggable5 {
	left: auto;
	right: 33%;
	top: 150px;
}

#draggable6 {
	left: 32%;
	top: 70%;
}

#draggable7 {
	left: auto;
	right: 3vw;
	top: 124px;
}

#draggable8 {
	left: 2vw;
	right: 10%;
	top: 110px;
}

.columns-section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.columns-wrapper{
		display: flex;
		width: 100%;
		max-width: 1500px;
		justify-content: space-between;
	}
	.column{
		width: 45%;
		font-size: 24px;
		padding-right: 1%;
		font-weight: 500;
		h3{
			padding-bottom: 5px;
			border-bottom: 3px solid $black;
			margin-bottom: -10px;
		}
		strong{
			font-weight: 700;
		}
	}
}

.works-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.work{
		width: 22.5%;
		margin: 0 1vw 1vw 1vw;
		img{
			width: 100%;
			height: 26.5vw;
			object-fit: cover;
		}
	}
}